<header>
  <div id="jumbotron">
    <%=grouped_collection_select(:city, :state_id, @states, :cities, "dpto", :id, "mun", { :selected => [ 'BOGOTÃ D.C.' ]}, {:id => "select-gear" })%>
  </div>
</header>
<section>
</section>