<header>
  <table>
    <thead>
      <tr>
        <th>Titulo</th>
        <th>Contenido</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      
      
      <select>
      <%=grouped_collection_select(:city, :state_id, @states, :cities, "dpto", :id, "mun")%>
      </select>

      <script>
        $('#select-gear').selectize({
            sortField: 'text'
        });
      </script>
  
    </tbody>
  </table>
</header>
<section>

<%= render 'shared/ex_opt_selectize' %>

</section>